@using IdentityServer4.EntityFramework.Entities
@{
    var resource = ViewData["Resources"] as ApiResource;
}
<form>
    <div class="navbar navbar-default navbar-fixed-top" style="
    top: 51px;">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size:30px">Resources</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="navbar-btn active" name="command" href="Resources">Api Resources</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn" name="command" href="IdentityResources">Identity Resources</a>
                </li>
            </ul>
        </div>
    </div>
</form>
<br><br><br>
<form asp-controller="Resources" asp-action="AddApiResources" method="get">
    <div class='btn-toolbar pull-right'>
        <button type="Submit" class="btn btn-primary btn-lg active">Add Resource</button>
    </div>
</form>
<br><br><br>
<table class="table table-striped table-bordered" align="left" style="float : left">
    <tr>
        <th>
            Id
        </th>
        <th> Action</th>
        <th>
            Name
        </th>
        <th>
            Display Name
        </th>
        <th>
            Description
        </th>
        <th>
            Type
        </th>
        <th>
            Value
        </th>
        <th>
            Expiration
        </th>
        <th>
            Enabled
        </th>
        <th>
            Emphasize
        </th>
        <th>
            Required
        </th>
        <th>
            Show In Discovery Document
        </th>
    </tr>
    <style>
        .table-striped > tbody > tr:nth-child(odd) > td {
            background-color: #d3d3d3;
        }
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: grey;
        }
    </style>

    @foreach (ApiResource item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a class="input-group-addon" style="background-color:#3498db ;" href="@Url.Action("EditResources", new {id= item.Id })"><span class="glyphicon glyphicon-pencil " style="color:#ffffff ;"></span></a> <a class="input-group-addon" href="@Url.Action("DeleteResources", new {id= item.Id })" style="background-color:#e74c3c ;"><span class="glyphicon glyphicon-trash" style="color:#ffffff ;"></span></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @foreach (var type in item.Secrets)
            {
                <td>
                    @Html.DisplayFor(modelItem => type.Type)
                </td>
            }
            @foreach (var value in item.Secrets)
            {
                <td>
                    @Html.DisplayFor(modelItem => value.Value)
                </td>
            }
            @foreach (var expiration in item.Secrets)
            {
                <td>
                    @Html.DisplayFor(modelItem => expiration.Expiration)
                </td>
            }
            <td>
                @(item.Enabled ? "yes" : "no")
            </td>
            @foreach (var scope in item.Scopes)
            {
                <td>
                    @( scope.Required ? "yes" : "no")
                </td>
                <td>
                    @( scope.Emphasize ? "yes" : "no")
                </td>
                <td>
                    @( scope.ShowInDiscoveryDocument ? "yes" : "no")
                </td>
            }
        </tr>
    }
</table>
<h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>